$xs-screen: "only screen and (max-width : 768px)"
$brand-color: "rgb(147, 39, 44)"
$brand-color-light: "rgb(167, 49, 54)"
$brand-color-very-light: "rgb(167, 69, 74)"

@font-face
  font-family: 'Sarabun'
  src: url("../assets/fonts/THSarabunNew.ttf") format("truetype")

@mixin placeholder()
  input::-webkit-input-placeholder
    @content
  input:-moz-placeholder
    @content
  input::-moz-placeholder
    @content
  input:-ms-input-placeholder
    @content

.eng-home
  // font-family: 'Sarabun'

  .hero-unit
    a
      color: #fff
      transition: 0.3s all

      &:hover
        text-decoration: none
        color: #{$brand-color-very-light}

    .video-container
      
      .video-background
        position: fixed
        top: 50%
        left: 50%
        min-width: 100%
        min-height: 100%
        width: auto
        height: auto
        z-index: -100
        -webkit-transform: translateX(-50%) translateY(-50%)
        transform: translateX(-50%) translateY(-50%)
        // background: url(polina.jpg) no-repeat
        background-size: cover

      .video-overlay
        position: fixed
        top: 50%
        left: 50%
        min-width: 100%
        min-height: 100%
        width: auto
        height: auto
        z-index: -99
        -webkit-transform: translateX(-50%) translateY(-50%)
        transform: translateX(-50%) translateY(-50%)
        background-color: rgba(0,0,0,0.85)
        background-size: cover

        .logo-container
          margin-top: 25vh
          .logo
            width: 60%
            min-width: 300px
        .search-container
          margin-top: 60px

          .search-box
            background: none
            border: 2px solid #666
            font-size: 18px
            padding: 12px 25px
            background-color: rgba(120,120,120,0.1)
            color: #ccc
            width: 40%
            transition: 0.3s all
            outline: none

            @include placeholder()
              color: #444

            &:focus
              border-color: #ccc
              background-color: rgba(120,120,120,0)

        .ticker-caption-container
          margin-top: 20vh
          color: #fff
          font-size: 18px
          opacity: 1
          transition: 0.5s all

          &.ng-hide
            opacity: 0

        .ticker-container
          margin-top: 5px
          opacity: 1
          transition: 0.5s all

          &.ng-hide
            opacity: 0

          .active-ticker
            display: inline-block
            color: #fff
            font-size: 18px
            // padding-left: 0px
            // padding-right: 0px
            transition: 0.5s all
            // opacity: 1

            &.ng-hide-remove
              padding-left: 60px
              opacity: 0
            &.ng-hide-remove.ng-hide-remove-active
              padding-left: 0px
              opacity: 1
            &.ng-hide-add
              padding-right: 0px
              opacity: 1
            &.ng-hide-add.ng-hide-add-active
              padding-right: 60px
              opacity: 0

        .search-tips-container, .search-result-container
          margin-top: 20px
          font-size: 16px
          color: #ccc
          transition: 0.5s all
          line-height: 1.6

          &.ng-hide-remove
            // padding-top: 80px
            opacity: 0
          &.ng-hide-remove.ng-hide-remove-active
            // padding-top: 0px
            opacity: 1
          &.ng-hide-add
            opacity: 1
          &.ng-hide-add.ng-hide-add-active
            opacity: 0

        .search-result
          color: #fff
          margin-right: 4px








  // MAIN CONTENT
  .main-content
    margin-top: 100vh
    background-color: #fff
    min-height: 100vh
    padding: 0

    .logo-container
      margin-top: 10vh

      .logo
        width: 60%
        min-width: 300px
        opacity: 0
        transition: 0.3s opacity

        &.show-logo
          opacity: 1

    .hero-unit
      margin-top: 10vh
      margin-bottom: 15vh
      height: 50vh
      background-size: cover
      background-position: center

  .row.main-row
    padding-left: 0
    padding-right: 0
    margin-left: 0
    margin-right: 0
  // NEWS
  .news-section
    margin-top: 40px
  .news-item-container
    height: 200px
    background-size: cover
    background-position: center
    background-color: #b9b9b9
    margin-bottom: 15px
    position: relative
    cursor: pointer
    transition: all 0.3s

    &:hover
      opacity: 0.8

    .news-content
      position: absolute
      line-height: 1
      bottom: 0px
      left: 0px
      
      .news-caption
        font-family: Sarabun
        max-height: 80px
        line-height: 0.95
        font-size: 20px
        padding: 10px 20px
        overflow-y: hidden
        color: #fff
        background-color: rgba(0,0,0,0.7)