.container-fluid.mock
  .row
    .col-xs-12.text-center.banner-container
      img.banner(src="/assets/images/mock/banner.png")

  .row.navbar.hidden-xs
    .col-xs-12

      .row
        .col-xs-12.quicklink-container
          span Quick Links:
          = ' | '
          = 'ดาวน์โหลดเอกสาร' + ' | '
          = 'บุคลากร' + ' | '
          = 'ภาควิชา' + ' | '

  .container-fluid.main-body
    .row.no-man-land.hidden-xs

    .row.main-menu.hidden-xs
      .col-sm-12
        a.main-menu-item(ng-click="help()") เกี่ยวกับคณะ
        a.main-menu-item ข่าวสาร
        a.main-menu-item วิชาการ
        a.main-menu-item หน่วยงาน
        a.main-menu-item นิสิต

    .row.mobile-menu.visible-xs
      .col-xs-4.mobile-menu-item
        i.fa.fa-gear
        br
        strong.mobile-menu-caption เกี่ยวกับคณะ
      .col-xs-4.mobile-menu-item
        i.fa.fa-newspaper-o
        br
        strong.mobile-menu-caption ข่าวสาร
      .col-xs-4.mobile-menu-item
        i.fa.fa-book
        br
        strong.mobile-menu-caption วิชาการ
      .col-xs-4.mobile-menu-item
        i.fa.fa-university
        br
        strong.mobile-menu-caption หน่วยงาน
      .col-xs-4.mobile-menu-item
        i.fa.fa-graduation-cap
        br
        strong.mobile-menu-caption นิสิต
      .col-xs-4.mobile-menu-item
        i.fa.fa-file-text
        br
        strong.mobile-menu-caption แบบฟอร์ม
      .col-xs-4.mobile-menu-item
        i.fa.fa-users
        br
        strong.mobile-menu-caption บุคลากร
      .col-xs-4.mobile-menu-item
        i.fa.fa-phone
        br
        strong.mobile-menu-caption ติดต่อ
      .col-xs-4.mobile-menu-item
        i.fa.fa-map-marker
        br
        strong.mobile-menu-caption แผนที่คณะ

        

    .row.hidden-xs
      .col-sm-12.text-center
        .menu-separator

    .row.no-man-land.hidden-xs

    .row.main-content-row
      .col-sm-12.main-content
        .row
          .col-sm-8.col-xs-12.news-banner(style="background-image:url('/assets/images/mock/news1.jpg')")
            .news-topic-container
              .span.news-topic จดหมายข่าวรายเดือน ฉบับที่ 12

          .col-sm-4.col-xs-12.news-banner(style="background-image:url('/assets/images/mock/news2.jpg')")
            .news-topic-container
              .span.news-header กองทุนนวัตกรรม ยอดรวม 54,477,182.89 บาท
              .span.news-topic.small 
                = '23 ก.ค.'
                br
                = 'การไฟฟ้าฝ่ายผลิตแห่งประเทศไทย'
                br 
                = ' 200,000.00 บาท'

        .row
          .col-md-3.col-sm-4.col-xs-12.news-banner(style="background-image:url('/assets/images/mock/news3.jpg')")
            .news-topic-container
              .span.news-topic สัมมนา "Big Data" โดย ILP Forum 

          .col-md-4.col-sm-4.col-xs-12.news-banner(style="background-image:url('/assets/images/mock/news4.jpg')")
            .news-topic-container
              .span.news-topic นิสิตได้รับรางวัลจาก NSC 2015

          .col-md-5.col-sm-4.col-xs-12.news-banner(style="background-image:url('/assets/images/mock/news5.jpg')")
            .news-topic-container
              .span.news-topic ค่ายวิษณุกรรมบุตร ครั้งที่ 13

        .row
          .col-md-5.col-sm-4.col-xs-12.news-banner(style="background-image:url('/assets/images/mock/news6.jpg')")
            .news-topic-container
              .span.news-topic ทุนวิจัย สิงหาคม 2558

          .col-md-4.col-sm-4.col-xs-12.news-banner(style="background-image:url('/assets/images/mock/news7.jpg')")
            .news-topic-container
              .span.news-topic ซ่อมบำรุงถนน สิงหาคม 2558

          .col-md-3.col-sm-4.col-xs-12.news-banner(style="background-color:#4099ff")
            i.fa.fa-twitter
            .text-box
              = '@ChulaEngineering'
              br
              br
              = '"12 วิชาเรียนที่น่าสนใจจากภาควิชาวิศวกรรมสิ่งแวดล้อม '
              u eng.me/f2fi5g4
              = '"'
            //- .news-topic-container
              //- .span.news-topic ค่ายวิษณุกรรมบุตร ครั้งที่ 13

