.eng-home
  .hero-unit
    .video-container
      video.video-background(autoplay loop)
        source(src="/assets/background.mp4")
      .video-overlay
        .logo-container.text-center
          img.logo(src="/assets/logo.png")
        .search-container.text-center
          input.search-box(placeholder="ค้นหาข้อมูลในเว็บไซต์" ng-model="search" ng-focus="startSearch()" ng-blur="endSearch()" ng-keyup="showResult()")
          //- i.fa.fa-search.search-icon
        .ticker-caption-container.text-center(ng-hide="searching")
          strong เรื่องเด่น
        .ticker-container.text-center(ng-hide="searching")
          .active-ticker(ng-hide="switching")
            a(href="") {{ activeTicker }}

        .search-tips-container.text-center(ng-show="showSearchTips")
          strong ข้อมูลที่ค้นหาได้
          br
          | หัวข้อข่าว
          | &middot;
          | เอกสาร
          | &middot;
          | ชื่ออาจารย์
          | &middot;
          | หน่วยงานในคณะ
          | &middot;
          | กำหนดการ

        .search-result-container.text-center(ng-show="result")
          .search-result(ng-repeat="resultItem in results")
            a(href="") {{ resultItem }}

  .container-fluid.main-content
    .logo-container.text-center
      img.logo(src="/assets/logo-color.png" ng-class="{'show-logo': showColorLogo}")
    .hero-unit(style="background-image: url('/assets/images/longbanner_map.jpg')")

    .row.main-row
      .col-sm-10.col-sm-offset-1
        .row
          .col.col-sm-6.col.col-xs-12.col-sm-6.col-lg-4 
            h3 เกี่ยวกับคณะ
          .col.col-sm-6.col.col-xs-12.col-sm-6.col-lg-4 
            h3 วิจัย
          .col.col-sm-6.col.col-xs-12.col-sm-6.col-lg-4
            h3 หน่วยงาน
          .col.col-sm-6.col.col-xs-12.col-sm-6.col-lg-4
            h3 ข่าว
          .col.col-sm-6.col.col-xs-12.col-sm-6.col-lg-4
            h3 คณาจารย์
          .col.col-sm-6.col.col-xs-12.col-sm-6.col-lg-4
            h3 นิสิต

    .row.main-row
      .col-sm-10.col-sm-offset-1
        .news-section(ng-repeat="group in newsGroups")
          .row.news-item
            .col.news-item.col-sm-6.col.col-xs-12.col-sm-6.col-lg-4(ng-repeat="news in group.news")
              .news-item-container(style="background-image: url('{{ news.image }}')")
                .row
                  .news-content
                    .news-date(ng-show="news.date") {{ news.date }}
                    .news-caption {{ news.caption }}