.container
  .row
    .col-lg-12
      h1 อัตราค่าสอน

  .row
    .col-lg-3
      h2 คอร์สปกติ 40 ชั่วโมง
      span.lead 9,200 บาท
      p ราคานี้รวมค่าหนังสือและเอกสารแล้ว

    .col-lg-3
      h2 โปรโมชั่น
      span.lead ลด 10%
      p เมื่อสมัครคอร์สที่สองภายใน 6 เดือนหลังจากจบคอร์สแรก