.container-fluid.mock.mockcomment.news
  .row
    .col-xs-12.text-center.banner-container
      img.banner(src="/assets/images/mock/banner.png")

  .main-body
    .row.no-man-land.hidden-xs

    .row
      .col-xs-12.col-lg-8.col-lg-offset-2.col-sm-10.col-sm-offset-1
        .news-content
          h1.news-heading เก็บตก สีสันสุดคึกคักเปิดบ้านวิศวฯ อินเตอร์ จุฬา “CHULA ISE Open House 2015”
          img(src="/assets/images/news/header.jpg")
          p ผ่านพ้นไปเป็นที่เรียบร้อย สำหรับงาน “CHULA ISE Open House 2015” ณ คณะวิศวกรรมศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย เมื่อวันที่ 23 สิงหาคม 2558 ที่ผ่านมานั้น ด้วยกิจกรรม แนะนำหลักสูตรวิศวกรรมนานาชาติของ คณะวิศวกรรมศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย ให้นักเรียนและผู้ปกครอง พร้อมโชว์ศักยภาพความพร้อมทางด้านวิชาการในระดับนานาชาติ
          img(src="/assets/images/news/img01.jpg")
          p คุณแก้วใจ นาคสกุล ผู้อำนวยการสำนักบริหารหลักสูตรวิศวกรรมนานาชาติ คณะวิศวกรรมศาสตร์ จุฬาลงกรณ์มหาวิทยาลัย (ISE) ในฐานะประธานคณะกรรมการดำเนินการจัดงาน เปิดเผยว่า “ความสำเร็จของการจัดงาน “CHULA ISE Open House 2015” เกิดขึ้นจากการให้ความร่วมมือจากบุคลากรภายในหน่วยงานของ ISE และการประชาสัมพันธ์ข่าวจากภาคสื่อมวลชน รวมไปถึงนักเรียน ครูแนะแนวและ ผู้ปกครอง ที่ให้ความสนใจและมาร่วมงานจำนวนมาก ซึ่งมียอดผู้เข้าร่วมงานมากกว่า 1,350 คน การจัดงาน “CHULA ISE Open House 2015” คาดว่าจะจัดขึ้นอีกในปีต่อ ๆ ไป โดยจะมีการปรับเปลี่ยนรูปแบบให้น่าสนใจยิ่งขึ้น จึงขอขอบคุณทุกฝ่ายที่ให้ความร่วมมือมา ณ โอกาสนี้”
          img(src="/assets/images/news/img02.jpg")
          p บรรยากาศภายในงานประกอบด้วย ศิษย์เก่าและศิษย์ปัจจุบันที่รวมตัวกันมาแนะนำสิ่งดี ๆ ที่เกิดขึ้นภายในรั้วมหาวิทยาลัยแห่งนี้ ให้กับ (ว่าที่) น้องใหม่ได้รับรู้ ไม่ว่าจะเป็นเวทีเสวนาในหัวข้อต่าง ๆ ที่น่าสนใจ เช่น “ทำไมฉันถึงควรเเรียนวิศวะ อินเตอร์ จุฬา”... ถ่ายทอดประสบการณ์โดยศิษย์เก่า ISE การเสวนา หัวข้อ “เรียน ISE ต่างจากที่อื่นอย่างไร...Campus Life ทั้งในและนอกห้องเรียน” นอกจากนี้ยังเปิดโอกาสให้นักเรียน นักศึกษา อาจารย์ ผู้ปกครอง ได้เห็นศักยภาพความพร้อมทางด้านวิชาการ ได้สัมผัสบรรยากาศการเรียนการสอนภายใน ISE โดยได้รับความร่วมมือจากนิสิตทุกหลักสูตรของ ISE ร่วมแสดงนิทรรศการ และกิจกรรมทางวิชาการมากมาย อาทิ การแนะนำหลักสูตร ที่เปิดสอน การแสดงผลงานนิสิต การเสวนา จากศิษย์เก่าและศิษย์ปัจจุบัน ในหัวข้อต่าง ๆ ที่น่าสนใจ'
          img(src="/assets/images/news/img03.jpg")
          img(src="/assets/images/news/img04.jpg")

    .row
      .col-xs-12.col-lg-8.col-lg-offset-2.col-sm-10.col-sm-offset-1
        .back-button
          a(href="#") กลับหน้าแรก
